* {
  box-sizing: border-box;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: pink;
  border-radius: 20px;
}
